@import "variable.css";
html, body{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-size: 10px;
    display: flex;
}

:root{
    --primary: rgb(148, 119, 119);
    
}
body{
    background-color: var(--primary);
}
h1{
    text-align: center;
}
.container{

}
#darkbutton{
    box-shadow: solid 5px gray;
}
#lightbutton{
    box-shadow: solid 5px powderblue;
}
#adv{
    box-shadow: solid 5px rgb(147, 125, 125);
}
#act{
    box-shadow: solid 5px rgb(137, 69, 69);
}
img{
    box-shadow: solid 3px silver;
}
