@import "variable.css";
html, body{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-size: 10px;
    display: flex;
    background-color: aquamarine;
}
h1{
    text-align: center;
}
.card {
    width: 30rem;
    height: 30rem;
    border-radius: 1.5rem;
    border-width: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}  
#darkbutton{
    box-shadow: solid 5px gray;
}
#lightbutton{
    box-shadow: solid 5px powderblue;
}
#adv{
    box-shadow: solid 5px rgb(147, 125, 125);
}
#act{
    box-shadow: solid 5px rgb(137, 69, 69);
}
img{
    box-shadow: solid 3px silver;
}
