:root{
    --primary: rgb(148, 119, 119);
    
}
body{
    background-color: var(--primary);
    display: flex;
    flex-wrap: wrap;
}
button{
    background-color: #0077cc;
}
img{
    border: #d8a45a;
}
